<form #form="ngForm" (ngSubmit)="onSubmit()">
  <mat-card class="job-card">
    <mat-card-title>
      Add
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input disabled matInput placeholder="Select the date..."  name="date" [(ngModel)]="job.date" [matDatepicker]="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #date></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <textarea placeholder="Enter input..." rows="3" maxlength="300" matInput [(ngModel)]="job.text" name="job"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
 </form>
