<mat-card class="mat-elevation-z8">
    <mat-card-title>
      EMPLOYEES
    </mat-card-title>


    <table mat-table #table [dataSource]='dataSource' matSort aria-label="Elements">
      <!-- Name Column -->
      <ng-container matColumnDef = 'name'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.displayName }} </td>
      </ng-container>
      <!-- Hourly Rate Column -->
      <ng-container matColumnDef="hourlyRate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hourly Rate</th>
        <td mat-cell *matCellDef="let row"> ${{row.hourlyRate}}</td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let row">
          <button class="role-button" mat-button [ngStyle]="{'background-color' :row.roles.admin === true ? 'blue': row.roles.employee === true ? 'green': 'red'}">
            {{row.roles.admin === true ? 'ADMIN ' :  row.roles.employee === true ? 'EMPLOYEE ' : 'NOT APPROVED' }}
          </button>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/admin-view-employees', row.uid]"></tr>
    </table>

      <mat-paginator #paginator
        [pageIndex]="0"
        [pageSize]="20"
        [pageSizeOptions]="[10, 20, 30]">
    </mat-paginator>



  </mat-card>
