ejs-calendar{
    margin: auto;
  }
  
  button {
    position: relative;
    margin-left: 45%;
    margin-top: 15px;
  }
  
  mat-card-title {
    text-align: center;
  }
  
  mat-card-subtitle {
    text-align: center;
  }
  
  .icon{
    color:#e3165b;
    vertical-align: middle;
  
  }

  .dot {
    display: inline-block;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    background-color: #e3165b;
  }
  