<form #form="ngForm" (ngSubmit)="onSubmit()">
  <mat-card class="job-card">
    <mat-card-title>
      Add
    </mat-card-title>
    <mat-card-content>

      <mat-form-field>
        <input disabled matInput placeholder="Select when job was created..."  name="created" [(ngModel)]="job.created" [matDatepicker]="created">
        <mat-datepicker-toggle matSuffix [for]="created"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #created></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <textarea placeholder="Enter client first name..." rows="3" maxlength="300" matInput [(ngModel)]="job.clientName" name="firstName"></textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea placeholder="Enter client address..." (ngModelChange)="onChange($event)" rows="3" maxlength="300" matInput [(ngModel)]="job.address" name="address"></textarea>
      </mat-form-field>

      <mat-form-field>
          <textarea placeholder="Enter job status..." rows="3" maxlength="300" matInput [(ngModel)]="job.status" name="status"></textarea>
      </mat-form-field>

      <mat-form-field>
          <textarea placeholder="Enter job id..." rows="3" maxlength="300" matInput [(ngModel)]="job.id" name="id"></textarea>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/admin-jobs']" routerDirection="backward" color="warn" type="cancel">Cancel</button>
      <button mat-button position="end" [disabled]="!formIsFilledOut" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
 </form>
