<mat-card *ngIf="!isLoggedIn">
<mat-card-header>
  Login to Garage Designs STL
</mat-card-header>

      <mat-card-content>
        <form class="loginForm">
          <table cellspacing="0">

            <tr>
              <td>
                <mat-form-field class="field-full-width">
                  <input matInput type="email" id="email" placeholder="Enter email" aria-describedby="emailHelp" required>
                </mat-form-field>
              </td>
            </tr>

            <tr>
                <td>
                  <mat-form-field class="field-full-width">
                  <input matInput type="password" id="password" placeholder="Password" required>
                  </mat-form-field>
              </td>
            </tr>

          </table>

        </form>

      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
</mat-card>

<mat-card *ngIf="isLoggedIn">
    <mat-card-content>
        <form>
    <button mat-raised-button (click)="logout()" color="warn">Logout</button>
      </form>
    </mat-card-content>
</mat-card>
