<mat-sidenav-container class="sidenav-container">
  <mat-sidenav position="start" #leftDrawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <img mat-card-avatar src='{{profilePicture}}'>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dash" routerLinkActive="active"> <mat-icon class="sidebar-icon">dashboard</mat-icon>Dashboard </a>
      <a mat-list-item routerLink="/employees" routerLinkActive="active"><mat-icon class="sidebar-icon">people_alt</mat-icon>Employees</a>
      <a mat-list-item routerLink="/availabilities" routerLinkActive="active"><mat-icon class="sidebar-icon">calendar_today</mat-icon>Availabilities</a>
      <a mat-list-item routerLink="/jobs" routerLinkActive="active"><mat-icon class="sidebar-icon">card_travel</mat-icon>Jobs</a>
      <a mat-list-item routerLink="/export" routerLinkActive="active"><mat-icon class="sidebar-icon">file_upload</mat-icon>EXPORT</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav position="end" #rightDrawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async) && !(leftDrawer)">
    <mat-nav-list class="rightDrawer-list">
      <a mat-list-item routerLink="/login" routerLinkActive="active">Log In </a>
      <a mat-list-item routerLink="/help" routerLinkActive="active">Help</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="leftDrawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title">{{title}}</span>
      <button mat-button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="rightDrawer.toggle()">

        <mat-icon style="text-align: end" aria-label="Side nav toggle icon">account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

