
<mat-card *ngIf="isLoggedIn">
  <mat-card-content>
    Welcome, {{user.displayName}}.
    <mat-form-field>
      <input [ngModel]="date" (ngModelChange)="onDataChange($event)"  matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
     <button (click)="savecsv()"
      mat-raised-button 
      color="primary">
      Export CSV
      </button>
    
    <p>{{date}}</p>
  </mat-card-content>
</mat-card>
