.top {
    padding-top: 50px !important;
}
.middle {
    padding: 50px !important;
}
.middle1 {
    padding: 40px !important;
}
.middle2{
    padding: 10px !important;
}
.buttom{
    padding: 10px !important;
}