table {
	width: 100%;
  }

button {
	margin: 16px 8px;
  }

 span {
	padding-right:15px;
}

.example-container {
	height: 400px;
	overflow: auto;
  }

.mat-form-field {
	font-size: 14px;
	width: 100%;
}


