table {
	width: 100%;
  }

button {
	margin: 16px 8px;
  }

 span {
	padding-right:15px;
}

.example-container {
	height: auto;
	overflow: auto;
  }

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.clock-buttons {
	display: block;
	text-align: center;
}

.spinner { 
	text-align: center;
}

