<mat-card *ngIf="userClockInfo; else spinner" class="example-card">

  <p class="form-inline1">
      <mat-form-field>
      <mat-label>Please select a job</mat-label>
      <mat-select [disabled]="isClockedIn" [(value)]="selectedJob" required>
        <mat-option *ngFor="let job of jobOptions" [value]="job.value">
          {{job.viewValue}}
        </mat-option>
      </mat-select>
      </mat-form-field>

      
  <div class="clock-buttons">
      <button mat-raised-button color="primary" id="clockIn" (click)="clockingIn()"  [disabled]="isClockedIn">Clock In</button>
      <button mat-raised-button color="primary" id="clockOut"  (click)="clockingOut()" [disabled]="!isClockedIn">Clock Out</button>
  </div>

  <mat-card-subtitle style="text-align: center" *ngIf="isClockedIn"> You clocked in at {{ userClockInfo.clockInDate.seconds * 1000 | date: 'hh:mm a' }} on {{ userClockInfo.clockInDate.seconds * 1000 | date: 'MM/dd/yyyy'  }}</mat-card-subtitle>
  <mat-card-subtitle style="text-align: center" *ngIf="!isClockedIn"> You clocked out at {{ userClockInfo.clockOutDate.seconds * 1000 | date: 'hh:mm a' }} on {{ userClockInfo.clockOutDate.seconds * 1000 | date: 'MM/dd/yyyy' }}
      <span *ngIf="hoursWorked"> for a total of {{ hoursWorked }} hours </span>
      <br/>
      <span *ngIf="hoursWorked"> on {{ userClockInfo.job }} </span>
      <br/>
      <mat-checkbox [disabled]="isClockedIn" color="primary" [(ngModel)]="showForm"> Forgot to clock in? Check this box to add hours </mat-checkbox>
      </mat-card-subtitle>


      <form *ngIf="showForm && !isClockedIn" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card class="job-card">
          <mat-card-title>
            Add hours
          </mat-card-title>
          <mat-card-subtitle>
            Only use if you forgot to clock in on a specific date.
          </mat-card-subtitle>
          <mat-card-content>
            
            <mat-form-field class="created">
              <input matInput placeholder="Date" required name="created" formControlName="date" [matDatepicker]="created" [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="created"></mat-datepicker-toggle>
              <mat-datepicker #created></mat-datepicker>
              <mat-error>Please enter a date</mat-error>
              <mat-hint> Date to add hours to</mat-hint>
            </mat-form-field>

              <mat-form-field class="job">
                  <mat-select matInput placeholder="Job" [disabled]="isClockedIn" required id="joboption" formControlName="job"> 
                      <mat-option *ngFor="let job of jobOptions" [value]="job.value">
                          {{job.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Please select a job</mat-error>
                    <mat-hint> Job to add hours to</mat-hint>
                </mat-form-field>
      
            <mat-form-field class="hours">
                <input matInput type="number" maxLength="4" min="1" max="15" placeholder="Total hours" required formControlName="hours">
                <mat-error>Please enter a value between 1 and 15</mat-error>
                <span matSuffix> hrs </span>
                <mat-hint> Total hours to add</mat-hint>
            </mat-form-field>

              <button mat-raised-button color="primary" position="end" [disabled]="!form.valid" type="submit">Submit</button>
      
          </mat-card-content>
        </mat-card>
       </form>
  
  </mat-card>


  <ng-template #spinner class="spinner">
    <mat-spinner> Loading </mat-spinner>
  </ng-template>



  