<mat-card>
  <button mat-stroked-button [routerLink]= "['/jobs']" routerDirection="backward">
    back
  </button>
<mat-card-header>
  JOB ID: {{theJob.id}}
</mat-card-header>
<mat-card-content>
  <mat-card-title>
    {{theJob.clientName.firstName}} {{theJob.clientName.lastName}}
  </mat-card-title>
  <mat-card-subtitle [ngStyle]="{'color': theJob.status === 'not started' ? 'red': theJob.status === 'in progress' ? 'yellow': theJob.status === 'done' ? 'green': ''}">
    {{theJob.status}}
  </mat-card-subtitle>
  {{theJob.created | date: 'MM/dd/yyyy'}}
  <br>
  {{theJob.jobAddress.street}}
  <br>
  {{theJob.jobAddress.city}}, {{theJob.jobAddress.zipCode}}

</mat-card-content>







</mat-card>
